 li {
    list-style: none;
 }
        
 .right {
    text-align: right;
 }

 .body {
    background-color: green;
 }
        
    
 li {
    background: #c2edff;
    padding: 0.5em;
 }
    
    
 .center {
     text-align: center;
 }
                   
